---
interface Props {
    id: number;
    name: string;
    subject: string;
    rated: boolean
}

const {id, name, subject, rated} = Astro.props;

---

<article class="flex">
    <div  class="mb-2 xl:mb-0 transition hover:scale-110">
        <a href={rated ? '#' :  `/evaluation/${id}`}>
            <img
                transition:name={`img-${id}`}
                class="mr-5 w-48 rounded"
                src={`/${rated ? 'rated.png' : 'unknown.png'}`}
                alt="Imagen que representa la calificación del profesor"
            />
        </a>
    </div>
    
    <a class="flex flex-col justify-center" href={ rated ? '#' : `/evaluation/${id}`}>
        <h2 transition:name={`title-${id}`} class="mb-2 text-2xl font-bold leading-tight text-white hover:text-[#EE322F]">
            {name}
        </h2>

        <p class="mb-4 text-gray-300 max-w-sm">{subject}</p>
        <span class="text-xs">{rated ? 'Ya evaluaste este docente' : 'Dale click para evaluar'} </span>
    </a>
</article>