---
interface Teacher {
    teacher_name: string;
    subject_name: string;
    rating: number;
    average_rating: number
    total_ratings: number;
    ratings: Rating[];
}

interface Rating {
    rating: number;
    comment: string;
    created_at: string;
}

import Comment from "../../components/Comment.astro";
import ENDPOINTS from "../../config/config";
import Layout from "../../layouts/Layout.astro";


const { id } = Astro.params

const response = await fetch(ENDPOINTS.RATINGS_BY_TEACHER_SUBJECT_ID(parseInt(id || '')));


if (!response.ok) {
    return new Response(
        null,
        {
            status: 404,
            statusText: response.statusText,
            
        },
    )
}

const data = await response.json() as Teacher;
const { teacher_name, subject_name, total_ratings, average_rating, ratings } = data;


let ratingImagePath = `unknown.png`;
if (average_rating > 3.7) {
    ratingImagePath = `good.png`;
} else if (average_rating > 2.5) {
    ratingImagePath = `normal.png`;
} else if (average_rating > 0) {
    ratingImagePath = `bad.png`;
}
---

<Layout title="Reseñas" description="Reseñas realizadas al profesor">
    <div class="flex gap-12">
        <aside class="flex flex-col items-center gap-4">
          <a href='/' class="hover:underline opacity-70">← Volver atrás</a>
          <img transition:name={`img-${id}`} class="rounded w-72 h-auto" src={`/${ratingImagePath}`} alt="Imagen que representa un estado respecto a la calificación" />
          <span class="text-xs">⭐️ {parseFloat(average_rating+'').toFixed(2)} ({total_ratings} reseñas)</span>
        </aside>
        <main class="max-w-3xl">
          <h1 transition:name={`title-${id}`} class="text-4xl font-bold mb-4">{teacher_name}</h1>
          <p class="text-[#EE322F] text-lg font-medium mb-4">{subject_name}</p>
            <Comment ratings={ratings} />
        </main>
      </div>
</Layout>